body{
    font-family: Roboto, sans-serif;
    display: flex;
    justify-content: center;
    background-color: #1f2937e1;
}
.content{
    background-color: #1f2937;
    width: 1200px;
}
ul{
    display: flex;
     margin: 0;
        gap: 10px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 100;
}  
.logo{
    font-size: 24px;
    color: #f9faf8;
}
.header,
.info1
{
    padding: 10px 100px 50px;
    color: #e5e7eb;
    font-weight: 900;
    display: flex;
    justify-content: space-between;

}
.info1{
    display: flex;
    gap: 50px;
    width: 1000px;
}
.title1{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin-bottom: 20px
}
.text1{
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 10px;
}
.image1{
    width:500px;
    
}

.button{
    background-color: #3882f6;
    color: white;
    padding: 5px 10px;
    border-radius: 8px;
    border:none;
}
.stuff-title2{
    font-size: x-large;
    font-weight: 900;
    padding: 20px;
}
.info2{
    background-color: white;
    text-align: center;
    padding-bottom: 80px;
}
.sub-info{
    display: flex;
    justify-content: space-around;
}
.stuff{
    width: 200px;    
}
.stuff-image{
    border-radius: 10px;
    width: 200px;
    height: 200px;
}


