body{
    font-family: Roboto, sans-serif;
    display: flex;
    justify-content: center;
    background-color: #1f2937e1;
    
}
.content{
    background-color: #1f2937;
    width: 1200px;

}
ul{
    display: flex;
    margin: 0;
    gap: 10px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 100;
}  
.logo{
    font-size: 24px;
    color: #f9faf8;
}
.header,
.info1
{
    padding: 10px 100px 50px;
    color: #e5e7eb;
    font-weight: 900;
    display: flex;
    justify-content: space-between;

}
.info1{
    display: flex;
    gap: 50px;
    width: 1000px;
}
.title1{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin-bottom: 20px
}
.text1{
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 10px;
}
.image1{
    width:500px;
    
}

.button{
    background-color: #3882f6;
    color: white;
    padding: 5px 10px;
    border-radius: 8px;
    border:none;
}
.stuff-title2{
    font-size: x-large;
    font-weight: 900;
    padding: 20px;
}
.info2{
    background-color: white;
    text-align: center;
    padding-bottom: 100px;
}
.sub-info{
    display: flex;
    justify-content: center;
    gap: 40px;
}
.stuff{
    width: 200px;    
}
.stuff-image{
    border-radius: 10px;
    width: 200px;
    height: 200px;
}
.info3{
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
}
.text2{
    font-style: italic;
    font-size: 36px;
    font-weight: 100;
    text-align: justify;
    color: #1f2937;
    width: 800px;
}
.quote-by{
    font-size: 24px;
    font-weight: bold;
    text-align: end;
}
.info4{
    background-color: white;
    color: white;
    padding: 100px;
}
.blue-box{
    background-color: #3882f6;
    border-radius: 10px;
    padding: 50px 120px;
    display: flex;
    justify-content: space-between;
}
.title4{
    font-size: x-large;
    font-weight: bolder;
}
.text4{
    font-size: large;
}
.button4{
    background-color: #3882f6;
    border-radius: 10px;
    border-color: white;
    color: white;
    padding: 5px 30px;
    font-size: larger;
}
.footer{
    color: white;
    display: flex;
    justify-content: center;
    padding: 20px;
    
}